<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>ADD MESSAGE</h1>
    <form th:action="@{/messages/add}" th:method="post" th:object="${message}">
        <p>MESSAGE: <input type="text" th:field="*{comment}"></p>
        <p>User</p>
        <div th:each="user : ${users}">
            <input type="checkbox" th:field="*{userList}" th:value="${user.id}">
            <span th:text="${user.name}"></span>
        </div>
        <p><input type="submit" value="ADD"></p>
        <div ></div>
    </form>
</body>
</html>