<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Message List</h1>
    <table>
        <thead>
            <tr>
                <th>NO.</th>
                <th>MESSAGE</th>
                <th>OTHERS</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="message : ${messages}">
                <td th:text="${message.id}"></td>
                <td th:text="${message.comment}"></td>
                <td>
                    <a th:href="@{/messages/edit/{id}(id=${message.id})}">EDIT</a>
                    <a th:href="@{/messages/delete/{id}(id=${message.id})}">DELETE</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/messages/add}">ADD USERS</a>
</body>
</html>