<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>ADD USER</h1>
    <form th:action="@{/users/add}" th:method="post" th:object="${user}">
        <p>NAME: <input type="text" th:field="*{name}"></p>
        <p>Messages</p>
        <div th:each="message : ${messages}">
            <input type="checkbox" th:field="*{commentList}" th:value="${message.id}">
            <span th:text="${message.comment}"></span>
        </div>
        <p><input type="submit" value="ADD"></p>
        <div ></div>
    </form>
</body>
</html>