<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>ユーザー一覧</h1>
    <form th:action="@{/talkRooms/add}" method="post" th:object="${talkRoom}">
        <p>ルーム名 <input type="text" th:field="*{name}"></p>
        <p> ユーザー</p>
        <div th:each="user : ${users}">
            <input type="checkbox" th:field="*{users}" th:value="${user.id}">
            <span th:text="${user.name}"></span>
        </div>
        <p><input type="submit" value="追加"></p>
    </form>
</body>
</html>